---
---
<nav class="bg-black/60 backdrop-blur sticky top-0 z-50">
  <div class="container mx-auto px-4 py-3 flex items-center justify-between">
    <a class="text-xl font-semibold" href="/">CIA Club</a>
    <div class="space-x-4">
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <a href="/resources">Resources</a>
      <a href="/about">About</a>
    </div>
  </div>
</nav>
