@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:      #0B0F14;
  --primary: #00FF9F;
  --secondary: #3B82F6;
  --fg:      #E5E7EB;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}
